body {
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif, Verdana;
    color: #303030;
    background-color: #ffffff;
    text-align: center;
}

/*===== NAVIGATION =====*/
header {
   display: flex;
}
.logoBox {
  
}
.logo {
   max-width: 100%;
}
.navBox {
   display: flex;
   justify-content: center;
   width: 100%;
}
li{
   list-style: none;
   display: inline;
   margin: 2px 20px;
}
a{
   text-transform: capitalize;
   font-size: 1.5rem;
   text-decoration: none;
}
a:hover,
a:focus,
a:active {
 text-decoration: underline;
}

.open-btnBox {
   display: none;
   font-size: 2rem;
   font-weight: bolder;
   background-color: transparent;
   border: none;
   color: #f15bb5;
   cursor: pointer;
}
.close-btnBox{
   display:none;
}
/*=====Introduction=====*/
.intro{
   margin:auto;
   height:40vh;
}

.name-title {
   color: #f15bb5;
   font-size: 1.8rem;
   font-weight: bolder;
}

.subtitle-intro{
   width: 90%;
   height: 60px;
   margin:auto;
   background-color: #ffb3c6;
}

.profile-picture {
   max-width: 100%;
   display:block;
   position: absolute;
   top:0;
   left:0;
   bottom: 0;
   right: 0;
   z-index: 1;
   margin:70px 200px;
}
.contact-btn,
.github-btn{
   margin-top: 10px;
   padding: 15px 45px;
   font-size: 1rem;
   text-transform: uppercase;
   cursor:pointer;
   background-color:#ffb3c6;
   border: none;
   color:rgba(27, 2, 27,);
   transition: transform 200 ease-in-out;
 }
 .contact-btn:hover {
   transform: scale(1.2);
   outline: 1px  solid #000;
   outline-offset: 3px;
 }

 .github-btn{
   border: 1px #fff solid;
   text-decoration: none;
 }


/*=====Projects====*/
.projects {
   width: 100%;
}

.containers {
   display: flex;
   align-items: center;
   width: 90%;
   margin: 0 auto;
   gap:5px;
}

.container {
   width: 90%;
   height: 50vh;
   margin:0 20px;
   padding-top: 20px;
   border:2px #ffb3c6 solid;
   
}

.project-images {
  max-width: 50%;
}
.container:hover {
  background-color: #ffb3c6 ;
  transition : .5s;
  transform: scale(1.1);
}

.inside-container {
  padding:10px;
}

/*====SKILLS===*/
.skills{
   display:flex;
   flex-direction: column;
   height: 100vh;
   margin: 1em 0;
   padding: 1em ;
   background-color: #ffb3c6c4;
   font-size: large;
}
.skills-container {
   margin:  auto;
}

.skills-images{
   max-width: 30%;
}  

/*====WORKPROCESS===*/
.WorkProcess {
   display: flex;
   flex-direction: column;
}

.WorkProcessContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 1.25em;
}
.workcontainer {
   padding: 1.9em;
   background-color: #ffb3c6;
}

/*===ABOUT-ME===*/
.about-me{
height: 50vh;
padding-top: 1em;
background-color: #ffb3c694;
background-image: url(computer-background.jpg);
background-blend-mode: lighten;
background-size: cover;
 
}
/*====FOOTER===*/
footer {
   background-color: #ffb3c6;
   color :#000;
   margin-top: 10px ;
   padding: 0.6250em 0;
   font-weight: bolder;
}

.email {
   font-size: 1rem;
}
.copyrights {
  margin:0;
}
 /*==== MOBILE NAVIGATION===*/
 @media(max-width: 810px) {
   
   .intro{
      display:flex;
      flex-direction: column;
   }
   .open-btnBox {
      display: block;
      margin-left: auto;
   }
   .close-btnBox{
      display: block;
      font-size: 2rem;
      background-color: transparent;
      font-weight: bolder;
      color: #f15bb5;
      border: none;
   }
   .nav__list {
      display:none;
      position: fixed;
      top:0;
      right:0;
      bottom:0;
      left:50%;
      height: 100vh;
      z-index: 100;
      margin-top: 0;
      transition: transform 250ms;
      background-color: black;
      font-size: 2rem;
      text-align: left;
   }
   .nav__link{
      display: flex;
      flex-direction: column;
      color:#f15bb5;
      font-weight: bolder;
   }
 /*INTRO*/
 .intro{
    display: flex;
    flex-direction: column;

 }
 section {
    padding: 3em .5em;
 }

 .profile-picture{
    display:inline-block;
    position:initial;
    margin:20px auto;
 }


 /*===Projects===*/
 .containers {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   gap:5px;
}

@media(max-width:430px){
/*==Work Process==*/
.workcontainer{
  padding: 1.5em;
}
}

 
@media(max-width:280px){
   /*==Work Process==*/
.WorkProcessContainer{
   display: flex;
   flex-direction: column;
   margin: 3em 0;
}
 .about-me{
   margin-top: 35em;
 }
}
   
   